.alert {
    margin-top: 3px;
}

.container-threads {
    padding-top: 15px;
}

.badge {
    color: grey;
}

.content-input {
    height: 100px;
}

.thread {
    width: 50%;
    padding-left: 10px;
    margin: 5px auto;
    border: 1px solid rgb(128,128,128);
    
}

.thread-title {
    font-weight: bold;
}

.comment-line {
    color: blue;
}

.delete-form {
    display: inline;
}

.index-page-image {
    /* This should keep the aspect ratio */
    max-height: 300px;
}

#index-page {
    margin-top: 40px;
}

#thread-page {
    margin-top: 80px;
}
.image {
    width: 50%;
    height: 50%;
}

/*fieldset {*/
/*    border: 2px solid black;*/
/*}*/

